@{
    ViewData["Title"] = "Главная страница";
}

@model List<UnitViewModel>

<div class="text-center">
    <h1 class="display-4">Состояния оборудования</h1>
    <div>
        <div class="card" style="width: 18rem;">
            <img src="~/icons/Ready.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text"></p>
            </div>
        </div>
    </div>
</div>
