@{
    ViewData["Title"] = "Главная страница";
}

@model List<UnitViewModel>

<div class="text-center">
    <h1 class="display-4">Состояния оборудования</h1>
    <div class="grid text-center">
        @foreach (var item in Model)
        {
            @if (item.isActive)
            {
                <div class="card" style="width: 18rem;">
                    <img src="~/icons/Play.png" class="card-img-top" alt="play icon">
                    <div class="card-body">
                        <p class="card-text">Устройство @item.UnitNumber на данный момент используется</p>
                    </div>
                </div>
            }
            else
            {
                <div class="card" style="width: 18rem;">
                    <img src="~/icons/Ready.png" class="card-img-top" alt="ready icon">
                    <div class="card-body">
                        <p class="card-text">Устройство @item.UnitNumber на данный момент свободно</p>
                    </div>
                </div>
            }
        }
    </div>
</div>
