@{
    ViewData["Title"] = "Учебная программа";
}
<h1>@ViewData["Title"]</h1>

<p>Данная программа является учебной работой студента Токторбекова Актана (Кличка Ак-Тош).</p>
<p>Программа создана для ознакомления и не содержит каких-либо коммерческих целей.</p>

