@model Report

@{
    ViewData["Title"] = "Приветственная страница";
}

<div class="text-center grid text-center">
    <div class="card">
        <div class="card-body">
            <h1>Работа оборудования завершена!</h1>
            <h1>Дата завершения: @ViewData["EndTime"]</h1>
            <h1>Итоговая сумма за операцию: @ViewData["LastSum"]</h1>

            <a class="btn btn-secondary" asp-controller="Home" asp-action="Log">Посмотреть историю операций</a>

        </div>
    </div>

</div>
